.d4plib-widget table .gdclw-term-search input[type=text],
.d4plib-widget table .gdclw-author-search input[type=text] {
  width: 190px;
}
.d4plib-widget table .gdclw-term-search input[type=button],
.d4plib-widget table .gdclw-author-search input[type=button] {
  width: 45px;
  height: 30px;
  padding: 0 5px 1px;
}
.d4plib-widget .gdclw-term-single {
  overflow: auto;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #f7f7f7;
  line-height: 24px;
  margin: 0 0 5px;
}
.d4plib-widget .gdclw-term-single span.gdclw-operator {
  float: left;
  background: #cccccc;
  padding: 0 10px;
  margin: 0 10px 0 0;
  cursor: pointer;
  text-align: center;
  width: 10px;
  box-sizing: content-box;
}
.d4plib-widget .gdclw-term-single span.gdclw-term {
  display: block;
  overflow: auto;
}
.d4plib-widget .gdclw-post-search-results {
  border: 1px solid #dfdfdf;
  height: 150px;
  margin: 6px 0 0;
  overflow: auto;
}
.d4plib-widget .gdclw-post-search-results .gdclw-post-search-result {
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  clear: both;
  color: #333;
  cursor: pointer;
  margin-bottom: 0;
  padding: 4px 6px 4px 10px;
  position: relative;
}
.d4plib-widget .gdclw-post-search-results .gdclw-post-search-result:hover {
  background-color: #eaf2fa;
}
.d4plib-widget .gdclw-post-search-results .gdclw-post-search-result span.item-info {
  float: right;
}

.editor-styles-wrapper .d4plib-widget .gdclw-term-search input[type=text],
.editor-styles-wrapper .d4plib-widget .gdclw-author-search input[type=text] {
  width: 190px !important;
  display: inline-block !important;
}
.editor-styles-wrapper .d4plib-widget .gdclw-term-search input[type=button],
.editor-styles-wrapper .d4plib-widget .gdclw-author-search input[type=button] {
  width: 45px;
  height: 30px;
  padding: 0 5px 1px;
}
